<!DOCTYPE html>
<html>
<head>
    <title>Taco Cloud</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="h3 mb-3 fw-normal">Login</h1>
    <img src="/static/tacos.jpeg" class="mb-4" alt="Tacos Image">
    <div th:if="${param.error}" class="alert alert-danger mt-3">
        Unable to login. Check your username and password.
    </div>
    <p>New here? Click <a href="/register">here</a> to register.</p>
    <form method="POST" th:action="@{/login}" id="loginForm">

        <div class="mb-3 fw-normal">
            <label for="username" class="form-label">Username:</label>
            <input type="text" class="form-control" id="username" name="username" style="width: 200px;" required autofocus>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password" name="password" style="width: 200px;" required>
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

</body>
</html>
